<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogFileName}" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Size" />
    <maximumFileSize value="20MB" />
    <maxSizeRollBackups value="100" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="Plugin.Logging.Layouts.PlatformPatternLayout">
      <conversionPattern
         value="[%date] [Thread: %thread] [%loggerLogger] %level - %signum: %logMessage%newline%logTags%logDetails%exception" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="Plugin.Logging.Appenders.EventLogAppender">
    <log value="AMR" />
    <source value="AMR" />
    <layout type="Plugin.Logging.Layouts.PlatformPatternLayout">
      <conversionPattern
         value="[%date] [Thread: %thread] [%loggerLogger] %level - %signum: %logMessage%newline%logTags%logDetails%exception" />
    </layout>
    <appender-ref ref="RollingFileAppender" />
  </appender>
  <root>
    <level value="DEBUG" />
  </root>
  <logger name="General">
    <level value="INFO" />
    <appender-ref ref="EventLogAppender" />
    <appender-ref ref="RollingFileAppender" />
  </logger>
  <logger name="Debug">
    <appender-ref ref="EventLogAppender" />
    <appender-ref ref="RollingFileAppender" />
  </logger>
</log4net>